---
import BaseLayout from "../layouts/BaseLayout.astro"

let title = "home";
---

<BaseLayout title={title}>
<p>
	Home - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident dolorem quam, totam quas aliquam eos repudiandae voluptatibus ab magnam vero modi laudantium harum, numquam laborum aut explicabo sapiente temporibus sed.
</p>
</BaseLayout>